{% extends "./base.html" %}

{% block content %}
  {% for job in object_list %}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{job.name}} ({{job.id}})</h5>
        <p class="card-text"> 
          <p>Times to run: {{job.times_to_run}}</p>
          <p>Total runs: {{job.jobrun_set.all.count}}</p>
        </p>
        <p class="card-text">
          <pre>{{job.code}}</pre>
        </p>
        <a href="/runjob/{{job.id}}" class="btn btn-primary">Run job</a>
      </div>
    </div>
  {% endfor %}
{% endblock %}
